{% extends 'base.html' %}
{% load static %}
{% block page_title %}About | Na Nu Printing Company{% endblock page_title %}

{% block content %}
<!--  Page Content, class footer-fixed if footer is fixed  -->
<div id="page-content" class="header-static footer-fixed">
    <!--  Slider  -->
    <div id="flexslider" class="fullpage-wrap small">
        <ul class="slides">
            <li style="background-image:url({% static 'nnsgapp/img/about/nnsg-facade.jpg' %})">
                <div class="text text-center">
                    <h1 class="white margin-bottom-small">About Us</h1>
                    <p class="heading white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
                        veniam aperiam rerum quis atque, illum.</p>
                </div>
                <div class="gradient dark"></div>
            </li>
        </ul>
    </div>
    <!--  END Slider  -->

    <!-- Content About -->
    <div id="home-wrap" class="content-section fullpage-wrap">
        <!-- Section same Height. Child get the parent Height. Set the same id -->
        <div class="row margin-leftright-null">
            <div class="col-md-6 padding-leftright-null">
                <div data-responsive="parent-height" data-responsive-id="dev" class="text">
                    <h2 class="margin-bottom-null title left grey">The Preface</h2>
                    <div class="padding-onlytop-md">
                        <h3 class="grey big margin-bottom-small">Dear our Customers</h3>
                        <p class="left grey">Foreword, Na Nu SAI GON PRINTING COMPANY LIMITED would like to send our
                            best wishes to health, success and properity. We thank customers for your trust, and
                            cooperation with us in many years.</p>
                        <p class="left grey">NNSP was established and developed in 2008, beside the main factory located
                            in HCMC, the company continued to develop a factory at Binh Dinh to confirm the mark and
                            goal to become the Top 1 in Vietnam in the field of printing.</p>
                        <p class="left grey">With solid business strategies, a strong investment in technology, and the
                            passion for individual work, Na Nu has taken a new high-profile position in the industry.
                            Printing on fashion, sports, and many other items</p>
                        <p class="left grey">NNSP specializes in printing on high-class products, famous brands all over
                            the world.</p>
                        <p class="left grey">Na Nu’s goal is to print products that will always made our customers
                            satisfy on term good quality and fastest delivery.</p>
                        <p class="left grey">We are committed to print products with a wide variety of products at
                            competitive prices, with the best quality compared to other competitors in the field.</p>
                        <p class="heading left margin-bottom grey">With the motto: “CUSTOMER SATISFACTION IS THE KEY TO
                            OUR SUCCESS”, each individual in the company, we always consciousness the importance of each
                            job that they are assumed.</p>
                        <p class="left grey">Best regards!</p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 padding-leftright-null">
                <div data-responsive="child-height" data-responsive-id="dev" class="bg-img"
                    style="background-image:url({% static 'nnsgapp/img/about/nnsg-meeting.jpg' %})"></div>
            </div>
        </div>
        <!--  Section with background image and overlay  -->
        <!-- Section same Height. Child get the parent Height. Set the same id -->
        <div class="row margin-leftright-null flex-order-md">
            <div class="col-md-6 padding-leftright-null flex-column-push-md">
                <div data-responsive="child-height" data-responsive-id="strategy" class="bg-img"
                    style="background-image:url({% static 'nnsgapp/img/about/nnsg-factory.jpg' %})"></div>
            </div>
            <div class="col-md-6 padding-leftright-null flex-column-pull-md">
                <div data-responsive="parent-height" data-responsive-id="strategy" class="row">
                    <!-- Services -->
                    <div class="col-md-6">
                        <div class="text padding-bottom-null">
                            <i class="icon ion-ios-analytics-outline service color"></i>
                            <h6 class="heading margin-bottom-extrasmall">Business Goals</h6>
                            <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Dolorem harum aspernatur sapiente error, voluptas fuga, laudantium ullam
                                magni fugit. Qui!</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text padding-bottom-null">
                            <i class="icon ion-ios-color-filter-outline service color"></i>
                            <h6 class="heading margin-bottom-extrasmall">Professional Team</h6>
                            <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Dolorem harum aspernatur sapiente error, voluptas fuga, laudantium ullam
                                magni fugit. Qui!</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text padding-bottom-null">
                            <i class="icon ion-ios-lightbulb-outline service color"></i>
                            <h6 class="heading margin-bottom-extrasmall">Vision</h6>
                            <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Dolorem harum aspernatur sapiente error, voluptas fuga, laudantium ullam
                                magni fugit. Qui!</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text">
                            <i class="icon ion-ios-cloud-outline service color"></i>
                            <h6 class="heading margin-bottom-extrasmall">Innovation</h6>
                            <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Dolorem harum aspernatur sapiente error, voluptas fuga, laudantium ullam
                                magni fugit. Qui!</p>
                        </div>
                    </div>
                    <!-- END Services -->
                </div>
            </div>
        </div>
        <!--  Section with background image and overlay  -->
        <div class="row margin-leftright-null grey-background">
            <div class="bg-img overlay simple-parallax responsive"
                style="background-image:url({% static 'nnsgapp/img/about/nnsg-manufacture.jpg' %})">
                <div class="col-md-12 padding-leftright-null">
                    <div class="text text-center">
                        <h2 class="margin-bottom-null title center white">Start your project</h2>
                        <div class="padding-onlytop-md">
                            <h3 class="white big margin-bottom-small">We are committed to print products<br />at
                                competitive prices, with the best quality</h3>
                            <p class="heading center margin-bottom white">Currently, our main advantage is to use super
                                durable ink and non-stick to adapt Europe, Japan, USA markets,.... Our products are able
                                respect strictness testing standard requirement by the customers</p>
                            <a href="{% url 'contact' %}" class="btn-alt active shadow small margin-null">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Section with background image and overlay  -->

        <!-- Section with background image with overlay -->
        <!-- Section NNSG Power -->
        <div class="row margin-leftright-null">
            <!-- <div class="col-md-12 padding-leftright-null bg-img responsive overlay"
                style="background-image:url(assets/img/service2.jpg)"> -->
            <div class="col-md-12 padding-leftright-null grey-background">
                <div class="col-md-6 padding-leftright-null">
                    <div class="text">
                        <h2 class="margin-bottom-null title left grey">Equipments and Capacity</h2>
                        <div class="padding-onlytop-md">
                            <h3 class="grey big margin-bottom-small">Factory in Sai Gon</h3>
                            <p class="heading left margin-bottom grey">Tan Phu Trung Industrial Zone, Cu Chi Dist., Ho
                                Chi Minh City.</p>
                        </div>
                    </div>
                </div>
                <!-- Counters -->
                <div class="col-md-6 padding-leftright-null">
                    <div class="text">
                        <div id="counters" class="row padding-md-leftright-null padding-md">
                            <div class="col-xs-6 col-sm-4 col-md-4 padding-md-leftright-null">
                                <div class="statistic">
                                    <i
                                        class="icon ion-ios-color-filter-outline service big grey margin-bottom-null"></i>
                                    <span class="grey" data-from="0" data-to="25">25</span>
                                    <p class="heading grey-light">Print-tables</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 padding-md-leftright-null">
                                <div class="statistic">
                                    <i class="icon ion-ios-pie-outline service big grey margin-bottom-null"></i>
                                    <span class="grey" data-from="0" data-to="20">20</span>
                                    <p class="heading grey-light">Automatic-printer</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 padding-md-leftright-null">
                                <div class="statistic">
                                    <i class="icon ion-ios-bolt-outline service big grey margin-bottom-null"></i>
                                    <span class="grey" data-from="0" data-to="4">4</span>
                                    <p class="heading grey-light">Embossing machine</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 padding-md-leftright-null">
                                <div class="statistic">
                                    <i
                                        class="icon ion-ios-color-filter-outline service big grey margin-bottom-null"></i>
                                    <span class="grey" data-from="0" data-to="20">20</span>
                                    <p class="heading grey-light">Pressing machine</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 padding-md-leftright-null">
                                <div class="statistic">
                                    <i class="icon ion-ios-pie-outline service big grey margin-bottom-null"></i>
                                    <span class="grey" data-from="0" data-to="300">300</span>
                                    <p class="heading grey-light">Drying machine</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 padding-md-leftright-null">
                                <div class="statistic">
                                    <i class="icon ion-ios-bolt-outline service big grey margin-bottom-null"></i>
                                    <span class="grey" data-from="0" data-to="2">2</span>
                                    <p class="heading grey-light">Dryer Belt</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 padding-md-leftright-null">
                                <div class="statistic">
                                    <i class="icon ion-ios-bolt-outline service big grey margin-bottom-null"></i>
                                    <span class="grey" data-from="0" data-to="4">4</span>
                                    <p class="heading grey-light">Laser cutting machine</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Counters -->
            </div>
            <div class="col-md-12 padding-leftright-null color-background">
                <div class="col-md-6 padding-leftright-null">
                    <div class="text">
                        <h2 class="margin-bottom-null title left white">Equipments and Capacity</h2>
                        <div class="padding-onlytop-md">
                            <h3 class="white big margin-bottom-small">Factory in Binh Dinh</h3>
                            <p class="heading left margin-bottom white">Cat Trinh Industrial Zone, Phu Cat Dist., Binh
                                Dinh Province.</p>
                        </div>
                    </div>
                </div>
                <!-- Counters -->
                <div class="col-md-6 padding-leftright-null">
                    <div class="text">
                        <div id="counters" class="row padding-md-leftright-null padding-md">
                            <div class="col-xs-6 col-sm-4 col-md-4 padding-md-leftright-null">
                                <div class="statistic">
                                    <i
                                        class="icon ion-ios-color-filter-outline service big white margin-bottom-null"></i>
                                    <span class="white" data-from="0" data-to="25">25</span>
                                    <p class="heading grey-light">Print-tables</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 padding-md-leftright-null">
                                <div class="statistic">
                                    <i class="icon ion-ios-pie-outline service big white margin-bottom-null"></i>
                                    <span class="white" data-from="0" data-to="5">5</span>
                                    <p class="heading grey-light">Automatic-printer</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 padding-md-leftright-null">
                                <div class="statistic">
                                    <i class="icon ion-ios-bolt-outline service big white margin-bottom-null"></i>
                                    <span class="white" data-from="0" data-to="1">1</span>
                                    <p class="heading grey-light">Embossing machine</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 padding-md-leftright-null">
                                <div class="statistic">
                                    <i
                                        class="icon ion-ios-color-filter-outline service big white margin-bottom-null"></i>
                                    <span class="white" data-from="0" data-to="15">15</span>
                                    <p class="heading grey-light">Pressing machine</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 padding-md-leftright-null">
                                <div class="statistic">
                                    <i class="icon ion-ios-pie-outline service big white margin-bottom-null"></i>
                                    <span class="white" data-from="0" data-to="120">120</span>
                                    <p class="heading grey-light">Drying machine</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 padding-md-leftright-null">
                                <div class="statistic">
                                    <i class="icon ion-ios-bolt-outline service big white margin-bottom-null"></i>
                                    <span class="white" data-from="0" data-to="2">2</span>
                                    <p class="heading grey-light">Dryer Belt</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 padding-md-leftright-null">
                                <div class="statistic">
                                    <i class="icon ion-ios-bolt-outline service big white margin-bottom-null"></i>
                                    <span class="white" data-from="0" data-to="2">2</span>
                                    <p class="heading grey-light">Laser cutting machine</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Counters -->
            </div>

        </div>
        <!-- END Section NNSG Power -->
        <!-- END Section with background image with overlay -->

        <!-- Timeline title -->
        <div class="row margin-leftright-null text-center">
            <div class="col-md-12 padding-leftright-null">
                <div class="text">
                    <h2 class="margin-bottom-null title center grey">Our company</h2>
                    <div class="padding-onlytop-md">
                        <h3 class="grey big margin-bottom-small">THE PROCESS OF FORMATION AND DEVELOPMENT</h3>
                        <p class="heading center margin-bottom-null grey"> Huge investment, production-lines, automatic
                            printing-machine modern, and distribution strategy of printing products nationwide</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Timeline title -->

        <!-- Timeline -->
        <div class="row no-margin">
            <div class="col-md-12 text">
                <ul class="timeline">
                    <li>
                        <div class="content">
                            <p>Recipient of the Vietnam Top Brand award for Strong National Brand, and Outstanding
                                Business Leader at the 9th Vietnam Business Awards – 2024.</p>
                        </div>
                        <div class="timeline-badge"></div>
                        <div class="title">
                            <h3>2024</h3>
                            <p class="heading grey">Winning the award for the strongest national brand.</p>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <p>With Na Nu’s constant growth. In 2011, Na Nu Binh Dinh was established affirming the
                                inherent value of Na Nu’s staffs in Vietnam</p>
                        </div>
                        <div class="timeline-badge"></div>
                        <div class="title">
                            <h3>2011</h3>
                            <p class="heading grey">Year of Establishment of The Second Factory</p>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <p>NaNu Sai Gon (NNSP) was established and developed in 2008. NNSP specializes in printing
                                on high-class products, famous brands all over the world.</p>
                        </div>
                        <div class="timeline-badge"></div>
                        <div class="title">
                            <h3>2008</h3>
                            <p class="heading grey">Year of Establishment</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END Timeline -->

        <!-- Section partners -->
        <div class="row padding-md margin-leftright-null color-background">
            <div class="col-md-12 text-center">
                <h4 class="big margin-bottom-small white">Learn more about us through our products</h4>
                <a href="{% url 'portfolio' %}" target="_blank"
                    class="btn-alt small white margin-null active shadow">Find
                    out</a>
            </div>
        </div>
        <!-- END Section partners -->
    </div>
    <!-- END Content About -->




</div>
<!--  END Page Content, class footer-fixed if footer is fixed  -->
{% endblock content %}