{% extends 'base.html' %}
{% load static %}

{% block page_title %}Home | Na Nu Printing Company{% endblock page_title %}

{% block content %}
<div id="page-content" class="header-static footer-fixed">

    <!--  Slider  -->
    <div id="flexslider" class="fullpage-wrap small">
        <ul class="slides">
            <li style="background-image:url({% static 'nanuapp/img/home/home.jpg' %})">
                <div class="text left typed">
                    <h2 class="title white left margin-bottom">global reach</h2>
                    <h1 class="medium white ">Na Nu Printing Group</h1>
                    <p><span id="typed" class="big white" data-typed-first="specializing in high-quality printing"
                            data-typed-second="specializing in high-quality printing"></span></p>
                    <p class="heading white left margin-bottom">proud to be a leading provider of
                        high-quality printing services and innovative printing solutions.</p>
                    <a href="{% url 'about' %}" class="btn-alt small active margin-null">Read More</a>
                </div>
                <div class="gradient dark"></div>
            </li>
        </ul>
    </div>
    <!--  END Slider  -->

    <!--  Home Wrap -->
    <div id="home-wrap" class="content-section fullpage-wrap">

        <!-- Services -->
        <div class="row no-margin">
            <div class="col-md-12 padding-leftright-null">
                <div class="col-md-4 padding-leftright-null">
                    <div class="text padding-md-bottom-null">
                        <i class="icon ion-ios-analytics-outline service material left"></i>
                        <div class="service-content">
                            <h4 class="heading grey margin-bottom-small">Business Goals</h4>
                            <p class="grey margin-bottom-null">Customer Sasticfaction and Economic Effectiveness
                                is the first.<br />Intellectual, creattive is foundation of the company.<br />Solidarity
                                and professionalism is the work motto.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 padding-leftright-null">
                    <div class="text padding-md-bottom-null">
                        <i class="icon ion-ios-color-filter-outline service material left"></i>
                        <div class="service-content">
                            <h4 class="heading grey margin-bottom-small">Mission</h4>
                            <p class="grey margin-bottom-null">Our mission is always to bring the products with
                                latest
                                advanced technology meets the market. As well as providing fast service, high quality,
                                good price for customers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 padding-leftright-null">
                    <div class="text">
                        <i class="icon ion-ios-lightbulb-outline service material left"></i>
                        <div class="service-content">
                            <h4 class="heading grey  margin-bottom-small">Vision</h4>
                            <p class="grey margin-bottom-null">By work effort and creative and the application
                                of
                                science in
                                manage, we wants to become a first commodity company in the field of providing printing
                                services in Vietnam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Services -->

        <!-- Counters -->
        <div class="row margin-leftright-null">
            <div class="bg-img overlay responsive"
                style="background-image:url({% static 'nanuapp/img/home/counter_bg.jpg' %})">
                <!--  Counters  -->
                <div class="col-md-12 padding-leftright-null">
                    <div class="text text-center">
                        <div id="counters" class="row">
                            <div class="col-sm-3">
                                <div class="statistic">
                                    <i
                                        class="icon ion-ios-color-filter-outline service big white margin-bottom-null"></i>
                                    <span class="white" data-from="1" data-to="2">&nbsp;</span>
                                    <p class="heading grey-light">Opened in Vietnam</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="statistic">
                                    <i class="icon ion-ios-pie-outline service big white margin-bottom-null"></i>
                                    <span class="white" data-from="1" data-to="17">&nbsp;</span>
                                    <p class="heading grey-light">Years of Experience</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="statistic">
                                    <i class="icon ion-ios-bolt-outline service big white margin-bottom-null"></i>
                                    <span class="white" data-from="200000000" data-to="207480000">&nbsp;</span>
                                    <p class="heading grey-light">Products per year</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="statistic">
                                    <i class="icon ion-ios-pricetags-outline service big white margin-bottom-null"></i>
                                    <span class="white" data-from="0" data-to="600">&nbsp;</span>
                                    <p class="heading grey-light">Employees</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  END Counters  -->
            </div>
        </div>
        <!-- END Counters -->

        <!-- Section Video -->
        <!-- Section same Height. Child get the parent Height. Set the same id -->
        <div class="row margin-leftright-null">
            <!-- Video -->
            <div class="col-md-6 padding-leftright-null">
                <a class="popup-youtube">
                    <div data-responsive="child-height" data-responsive-id="story" class="bg-img"
                        style="height: 511px; display:block; background-image: url(&quot;{% static 'nanuapp/img/home/office_team.jpg' %}&quot;);">
                    </div>
                    <video id="videoPlayer" width="100%" height="100%" controls
                        style="position: absolute; top: 0; left: 0; object-fit: cover; display: none;">
                        <source src="{{video_url}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </a>
            </div>
            <!-- END Video -->
            <div class="col-md-6 padding-leftright-null">
                <div data-responsive="parent-height" data-responsive-id="story" class="text ">
                    <h2 class="margin-bottom-null title left grey">About Us</h2>
                    <div class="padding-onlytop-md">
                        <h3 class="grey big margin-bottom-small">Where Quality Meets Passion</h3>
                        <p class="left margin-bottom grey">Na Nu Printing Group extends our warmest wishes for
                            your continued health, success, and prosperity. We deeply appreciate the trust and
                            long-standing cooperation from our valued customers over the years. Your support has been
                            the cornerstone of our growth, and we look forward to many more years of fruitful
                            partnership.</p>
                        <a href="{% url 'about' %}" class="btn-alt active shadow small margin-null">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Section same Height. Child get the parent Height. Set the same id -->
        <!-- END Section Video -->


        <!-- Concept -->
        <!-- <div class="row no-margin">
            <div class="col-md-12 padding-leftright-null">
                <div class="col-md-4 padding-leftright-null">
                    <div class="text padding-md-bottom-null">
                        <em class="number">01.</em>
                        <div class="service-content medium">
                            <h5 class="heading uppercase color padding-onlytop-sm">Our Mission</h5>
                            <p class="margin-bottom-null color">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Dolorem harum aspernatur sapiente error, voluptas fuga, laudantium ullam magni
                                fugit.
                                Qui!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 padding-leftright-null">
                    <div class="text padding-md-bottom-null">
                        <em class="number">02.</em>
                        <div class="service-content medium">
                            <h6 class="heading uppercase color padding-onlytop-sm">Our Vision</h6>
                            <p class="margin-bottom-null color">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Dolorem harum aspernatur sapiente error, voluptas fuga, laudantium ullam magni
                                fugit.
                                Qui!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 padding-leftright-null">
                    <div class="text">
                        <em class="number">03.</em>
                        <div class="service-content medium">
                            <h5 class="heading uppercase color padding-onlytop-sm">Our Values</h5>
                            <p class="margin-bottom-null color">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Dolorem harum aspernatur sapiente error, voluptas fuga, laudantium ullam magni
                                fugit.
                                Qui!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- END Concept -->

        <!-- Skills -->
        <!-- <div class="row no-margin color-background text">
            <section id="skills" class="white">
                <div class="col-md-6 padding-leftright-null">
                    <ul class="skill-list padding-sm-bottom">
                        <em class="white">Development</em>
                        <li>
                            <span class="border-color" data-percent="25%"></span>
                            <span class="label"><span class="count" data-to="25"></span>%</span>
                        </li>
                        <em class="white">Branding</em>
                        <li class="margin-null">
                            <span class="border-color" data-percent="75%"></span>
                            <span class="label"><span class="count" data-to="75"></span>%</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 padding-leftright-null">
                    <ul class="skill-list">
                        <em class="white">User interface</em>
                        <li>
                            <span class="border-color" data-percent="45%"></span>
                            <span class="label"><span class="count" data-to="45"></span>%</span>
                        </li>
                        <em class="white">Marketing</em>
                        <li class="margin-null">
                            <span class="border-color" data-percent="85%"></span>
                            <span class="label"><span class="count" data-to="85"></span>%</span>
                        </li>
                    </ul>
                </div>
            </section>
        </div> -->
        <!-- END Skills -->

        <!--  Projects Showcase Latest Works -->
        <div id="showcase-projects" class="text grey-background">
            <div class="row">
                <div class="col-md-12 padding-leftright-null text-center">
                    <h2 class="margin-bottom-null title grey">Creative Agency</h2>
                    <div class="padding-md">
                        <h3 class="grey big margin-bottom-small center">Latest Works</h3>
                        <p class="heading center margin-bottom grey">Recent Projects & Collaborations</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <section class="showcase-carousel">
                        <!--  Single Projects  -->
                        <div class="item">
                            <div class="showcase-project">
                                <img src="{% static 'nanuapp/img/item1.jpg' %}" alt="">
                                <div class="content">
                                    <span class="read">
                                        <i class="material-icons">add</i>
                                    </span>
                                    <h6 class="heading black">Greenline</h6>
                                    <p class="heading margin-null">Branding / Identity</p>
                                </div>
                                <a href="standard-project.html" class="link"></a>
                            </div>
                        </div>
                        <!--  END Single Projects  -->

                        <!-- Single Projects  -->
                        <div class="item">
                            <div class="showcase-project">
                                <img src="{% static 'nanuapp/img/item2.jpg' %}" alt="">
                                <div class="content">
                                    <span class="read">
                                        <i class="material-icons">add</i>
                                    </span>
                                    <h6 class="heading black">Housery</h6>
                                    <p class="heading margin-null">Visual / Concept</p>
                                </div>
                                <a href="gallery-project.html" class="link"></a>
                            </div>
                        </div>
                        <!--  END Single Projects  -->

                        <!-- Single Projects  -->
                        <div class="item">
                            <div class="showcase-project">
                                <img src="{% static 'nanuapp/img/item3.jpg' %}" alt="">
                                <div class="content">
                                    <span class="read">
                                        <i class="material-icons">add</i>
                                    </span>
                                    <h6 class="heading black">iPackage</h6>
                                    <p class="heading margin-null">Marketing / Social</p>
                                </div>
                                <a href="standard-project.html" class="link"></a>
                            </div>
                        </div>
                        <!-- END Single Projects  -->

                        <!-- Single Projects  -->
                        <div class="item">
                            <div class="showcase-project">
                                <img src="{% static 'nanuapp/img/item4.jpg' %}" alt="">
                                <div class="content">
                                    <span class="read">
                                        <i class="material-icons">add</i>
                                    </span>
                                    <h6 class="heading black">Pulse</h6>
                                    <p class="heading margin-null">Design / Branding</p>
                                </div>
                                <a href="gallery-project.html" class="link"></a>
                            </div>
                        </div>
                        <!--  END Single Projects  -->

                    </section>
                </div>
            </div>
        </div>
        <!--  END Projects Showcase Latest Works -->

        <!--  Section Image Background with overlay  -->
        <div class="row margin-leftright-null grey-background">
            <div class="bg-img overlay responsive"
                style="background-image:url({% static 'nanuapp/img/home/halftonebg.jpg' %})">

                <!-- Testimonials -->
                <section class="testimonials-carousel-simple col-md-12 text padding-bottom-null">
                    <!-- Blockquote 1 -->
                    <div class="item padding-leftright-null">
                        <div class="text padding-top-null padding-bottom-null">
                            <blockquote class="margin-bottom-small white heading post">I’m genuinely impressed by the
                                quality of the
                                printed products. Every detail is sharp, the colors are vibrant, and the turnaround time
                                was faster than expected. This is the kind of printing partner you want by your side.
                            </blockquote>
                            <em class="small white">BENISON FOOD &BEVERAGE COMPANY LIMITED</em><span
                                class="margin-null white">&nbsp;-&nbsp;CEO</span>
                        </div>
                    </div>
                    <!-- END Blockquote 1 -->

                    <!-- Blockquote 2 -->
                    <div class="item padding-leftright-null">
                        <div class="text padding-top-null padding-bottom-null">
                            <blockquote class="margin-bottom-small white heading post">I wasn’t expecting to be this
                                impressed! The
                                prints came out amazing—super crisp and the colors popped. Plus, the team was super easy
                                to work with. Definitely coming back for our next batch!</blockquote>
                            <em class="small white">Barossa Legend Aus Ltd</em>
                            <span class="margin-null white">&nbsp;-&nbsp;Director</span>
                        </div>
                    </div>
                    <!-- END Blockquote 2 -->

                    <!-- Blockquote 3 -->
                    <div class="item padding-leftright-null">
                        <div class="text padding-top-null padding-bottom-null">
                            <blockquote class="margin-bottom-small white heading post">As a designer, I’m picky about
                                print quality—and this company nailed it. Every texture, tone, and gradient came through
                                exactly as I envisioned. Their craftsmanship elevated my work beyond the screen.
                            </blockquote>
                            <em class="small grey-light">Company</em>
                            <span class="margin-null white">&nbsp;-&nbsp;Designer</span>
                        </div>
                    </div>
                    <!-- END Blockquote 3 -->

                </section>
                <!-- END Testimonials -->
            </div>
        </div>
        <!--  END Section Image Background with overlay  -->

        <!-- Section News -->
        <div class="row margin-leftright-null grey-background">
            <div class="col-md-4 padding-leftright-null">
                <div class="text">
                    <h2 class="margin-bottom-null title left grey">News</h2>
                    <div class="padding-onlytop-md">
                        <h3 class="grey big margin-bottom-small">Latest Posts. Stay tuned!</h3>
                        <p class="left margin-bottom grey">From energizing workshops to hands-on printing
                            methods, these latest posts explore how collaboration and creativity fuel success. Whether
                            you're leading a crew or refining your craft, discover practical insights and inspiring
                            stories that bring people—and ideas—together.</p>
                        <a href="#" class="btn-alt active shadow small margin-null">Read all news</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 text" id="news">
                <!-- Single News -->
                <div class="col-sm-6 single-news">
                    <article>
                        <img src="{% static 'nanuapp/img/blog/nanu-birthday-17.jpg' %}" alt="">
                        <div class="content">
                            <span class="read">
                                <i class="material-icons">subject</i>
                            </span>
                            <h3>The company's 17th anniversary</h3>
                            <span class="category">People</span>
                            <span class="category">Topic</span>
                            <span class="date">28.08.2025</span>
                            <p>We're proud to celebrate 17 years of innovation, growth, and shared success.
                                Thank you for being part of our journey—here's to the future!</p>
                        </div>
                        <a href="gallery-post.html" class="link"></a>
                    </article>
                </div>
                <!-- END Single News -->

                <!-- Single News -->
                <div class="col-sm-6 single-news">
                    <article>
                        <img src="{% static 'nanuapp/img/blog/nanu-nhatrang-2025.jpg' %}" alt="">
                        <div class="content">
                            <span class="read">
                                <i class="material-icons">subject</i>
                            </span>
                            <h3>Meetup Nha Trang</h3>
                            <span class="category">Team Building</span>
                            <span class="date">20.05.2025</span>
                            <p>Join us in beautiful Nha Trang as we come together to celebrate connection,
                                collaboration, where ideas flow, memories are made, and the future begins..
                            </p>
                        </div>
                        <a href="standard-post.html" class="link"></a>
                    </article>
                </div>
                <!-- END Single News -->


            </div>
        </div>
        <!-- END Section News -->

        <!-- Section Partners Carousel -->
        <div class="row margin-leftright-null">
            <div class="dark-background">
                <div class="col-md-12 clearfix color-background padding-leftright-null">
                    <div class="partners owl-carousel partners-carousel z-index">
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/01.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/02.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/03.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/04.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/05.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/06.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/07.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/08.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/09.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/10.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/11.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/12.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/13.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/14.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/15.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/16.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/17.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/18.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/19.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/20.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/21.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/22.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/23.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/24.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/25.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/26.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/27.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/28.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/29.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/30.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/31.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/32.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/33.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/34.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/35.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/36.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/37.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/38.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/39.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/40.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/41.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/42.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/43.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/44.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/45.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/46.png' %}" alt="">
                        </div>
                        <div class="partner">
                            <img class="img-responsive" src="{% static 'nanuapp/img/partners/47.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Section Partners Carousel -->

    </div>
    <!--  END Home Wrap -->
</div>
{% endblock content %}