{% extends "base.html" %}
{% load static %}

{% block page_title %}Portfolio | Na Nu Printing Company{% endblock page_title %}

{% block content %}
<!--  Page Content, class footer-fixed if footer is fixed  -->
<div id="page-content" class="header-static footer-fixed">
  <!--  Slider  -->
  <div id="flexslider" class="fullpage-wrap small">
    <ul class="slides">
      <li style="background-image:url({% static 'nanuapp/img/portfolio/slide.jpg' %})">
        <div class="text text-center">
          <h1 class="white margin-bottom-small">All our products</h1>
          <p class="heading white">Producing over 207 million products annually, we proudly deliver top quality and
            exceptional service to our customers.</p>
        </div>
        <div class="gradient dark"></div>
      </li>
    </ul>
  </div>
  <!--  END Slider  -->

  <div id="home-wrap" class="content-section fullpage-wrap">
    <!-- Section Legal Info -->
    <div class="row margin-leftright-null text-center">
      <div class="col-md-12 padding-leftright-null">
        <div class="text">
          <h2 class="margin-bottom-null title center grey">LEGAL INFORMATION</h2>
          <div class="padding-onlytop-md">
            <h3 class="grey big margin-bottom-small">Corporate Identity & Legal Profile</h3>
            <p class="heading center margin-bottom-null grey">Key information on Company name, Abbreviation,
              Establishment, Legal Representative, and Business Code</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-leftright-null">
      <div class="row margin-leftright-null">
        <div class="col-md-4 padding-leftright-null padding-onlytop-md">
          <div class="text text-right text-md-left padding-md-topbottom-null">
            <i class="icon ion-ios-browsers-outline service color"></i>
            <p class="margin-bottom-null">Company name</p>
            <h6 class="heading black margin-bottom-extrasmall">NA NU SAI GON PRINTING COMPANY LIMITED</h6>

            <p class="margin-bottom-null">Company abbreviation</p>
            <h6 class="heading black margin-bottom-extrasmall">NNSP</h6>

            <p class="margin-bottom-null">Established</p>
            <h6 class="heading black margin-bottom-extrasmall">2008</h6>

            <p class="margin-bottom-null">Legal representative</p>
            <h6 class="heading black margin-bottom-extrasmall">Mr. NGÔ TẤN THỊNH</h6>

            <p class="margin-bottom-null">Business registration number</p>
            <h6 class="heading black margin-bottom-extrasmall">0313170225</h6>
          </div>
        </div>
        <div class="col-md-4 padding-leftright-null padding-md">
          <img class="center img-responsive" src="{% static 'nanuapp/img/portfolio/logoportfolio.png' %}" alt="">
        </div>
        <div class="col-md-4 padding-leftright-null padding-onlytop-md">
          <div class="text padding-md-topbottom-null">
            <i class="icon ion-ios-browsers-outline service color"></i>
            <p class="margin-bottom-null">Company name</p>
            <h6 class="heading black margin-bottom-extrasmall">NA NU COMPANY LIMITED</h6>
            <p class="margin-bottom-null">Company abbreviation</p>
            <h6 class="heading black margin-bottom-extrasmall">NNP</h6>
            <p class="margin-bottom-null">Established</p>
            <h6 class="heading black margin-bottom-extrasmall">2011</h6>
            <p class="margin-bottom-null">Company name</p>
            <h6 class="heading black margin-bottom-extrasmall">Mr. NGÔ TẤN THỊNH</h6>
            <p class="margin-bottom-null">Business registration number</p>
            <h6 class="heading black margin-bottom-extrasmall">4101209132</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- END Section Legal Info -->

    <div class="row margin-leftright-null">
      <!-- Section with background image with overlay -->
      <div class="col-md-12 padding-leftright-null bg-img responsive overlay"
        style="background-image:url({% static 'nanuapp/img/portfolio/service2-01.png' %})">
        <div class="col-md-6 padding-leftright-null">
          <div class="text">
            <h2 class="margin-bottom-null title left white">Our numbers</h2>
            <div class="padding-onlytop-md">
              <h3 class="white big margin-bottom-small">Equipments & Capacity</h3>
              <p class="heading left margin-bottom white">Total capacity of both factories</p>
            </div>
          </div>
        </div>
        <!-- Counters -->
        <div class="col-md-6 padding-leftright-null">
          <div class="text">
            <div id="counters" class="row padding-md-leftright-null padding-md">
              <div class="col-sm-4 padding-md-leftright-null">
                <div class="statistic">
                  <i class="icon ion-ios-pie-outline service big white margin-bottom-null"></i>
                  <span class="white" data-from="0" data-to="10400000">&nbsp;</span>
                  <p class="white">Capacity output pcs per month</p>
                  <p class="heading white">Screen printing process</p>
                  <p class="white">Print 1 color on a product</p>
                </div>
              </div>
              <div class="col-sm-4 padding-md-leftright-null">
                <div class="statistic">
                  <i class="icon ion-ios-pie-outline service big white margin-bottom-null"></i>
                  <span class="white" data-from="0" data-to="6890000">&nbsp;</span>
                  <p class="white">Capacity output pcs per month</p>
                  <p class="heading white">Screen printing process</p>
                  <p class="white">Print 2 colors on a product</p>
                </div>
              </div>
              <div class="col-sm-4 padding-md-leftright-null">
                <div class="statistic">
                  <i class="icon ion-ios-pie-outline service big white margin-bottom-null"></i>
                  <span class="white" data-from="0" data-to="50000">&nbsp;</span>
                  <p class="white">Capacity output meters per month</p>
                  <p class="heading white">Sublimation process</p>
                  <p class="white">Print Rolls</p>
                </div>
              </div>
              <div class="col-sm-4 padding-md-leftright-null">
                <div class="statistic">
                  <i class="icon ion-ios-pie-outline service big white margin-bottom-null"></i>
                  <span class="white" data-from="0" data-to="500000">&nbsp;</span>
                  <p class="white">Capacity output pcs per month</p>
                  <p class="heading white">Heat Transfer process</p>
                  <p class="white"></p>
                </div>
              </div>
              <div class="col-sm-4 padding-md-leftright-null">
                <div class="statistic">
                  <i class="icon ion-ios-pie-outline service big white margin-bottom-null"></i>
                  <span class="white" data-from="0" data-to="260000">&nbsp;</span>
                  <p class="white">Capacity output pcs per month</p>
                  <p class="heading white">Embossing - Debossing process</p>
                  <p class="white"></p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- END Counters -->
      </div>
      <!-- END Section with background image with overlay -->
    </div>

    <!-- Product catalogue title -->
    <div class="row margin-leftright-null text-center">
      <div class="col-md-12 padding-leftright-null">
        <div class="text">
          <h2 class="margin-bottom-null title center grey">Our printing technology</h2>
          <div class="padding-onlytop-md">
            <h3 class="grey big margin-bottom-small">Main Technology of Printing</h3>
            <p class="heading center margin-bottom-null grey">Our products meet the strict testing standards required by
              our customers</p>
          </div>
        </div>
      </div>
    </div>
    <!-- END Product catalogue title -->

    <!--  Content Section Full Page  -->
    <section id="projects-filters" class="wrap-filters-minimal text-center">
      <!--  Filters  -->
      <div class="row">
        <div class="col-sm-12">
          <ul class="col-md-12 filters padding-leftright-null">
            <li data-filter="*" class="is-checked">All</li>
            <li data-filter=".water-print">Water print</li>
            <li data-filter=".cracking-print">Cracking print</li>
            <li data-filter=".plastisol-print">Plastisol print</li>
            <li data-filter=".high-density-print">High density print</li>
            <li data-filter=".PU-print">PU print</li>
            <li data-filter=".silicone-print">Silicone print</li>
            <li data-filter=".puff-print">Puff print</li>
            <li data-filter=".foil-print">Foil print</li>
            <li data-filter=".flocking-print">Flocking print</li>
            <li data-filter=".heat-transfer-print">Heat transfer print</li>
            <li data-filter=".solvent-print">Solvent print</li>
            <li data-filter=".glitter-print">Glitter print</li>
            <li data-filter=".discharge-print">Discharge print</li>
            <li data-filter=".glow-dark-print">Glow and dark print</li>
            <li data-filter=".reflective-print">Reflective print</li>
            <li data-filter=".metallic-silver-print">Metallic silver print</li>
            <li data-filter=".sublimation-digital-print">Sublimation/ Digital print</li>
            <li data-filter=".embossing-debossing-print">Embossing & Debossing print</li>
            <li data-filter=".metallic-gold-print">Metallic gold print</li>
            <li data-filter=".rubber-print">Rubber print</li>
            <li data-filter=".pearl-print">Pearl print</li>
            <li data-filter=".digital-hydrid-printing-system">Digital Hybrid printing system</li>
          </ul>
        </div>
      </div>
      <!--  END Filters  -->
    </section>

    <!--  Projects Section  -->
    <section id="projects" data-isotope="load-simple">
      <div class="projects-items equal four-columns">
        <div class="one-item water-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})">
          </div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Silk screen printing / Technology</h4>
              <h3 class="big">Water base</h3>
            </div>
            <a href="standard-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item cracking-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})">
          </div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Silk screen printing / Technology</h4>
              <h3 class="big">Cracking</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item plastisol-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})"></div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Silk screen printing / Technology</h4>
              <h3 class="big">Plastisol</h3>
            </div>
            <a href="standard-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item high-density-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})">
          </div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Silk screen printing / Technology</h4>
              <h3 class="big">High density</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item PU-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})"></div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Silk screen printing / Technology</h4>
              <h3 class="big">PU print</h3>
            </div>
            <a href="standard-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item silicone-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})">
          </div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Silk screen printing / Technology</h4>
              <h3 class="big">Silicone</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item puff-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})"></div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Silk screen printing / Technology</h4>
              <h3 class="big">Puff</h3>
            </div>
            <a href="standard-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item foil-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})"></div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Foil / Technology</h4>
              <h3 class="big">Foil</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item flocking-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})">
          </div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Silk screen printing / Technology</h4>
              <h3 class="big">Flocking</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item heat-transfer-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})"></div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Heat Transfer / Technology</h4>
              <h3 class="big">Heat Transfer</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item solvent-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})"></div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Silk screen printing / Technology</h4>
              <h3 class="big">Solvent</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item glitter-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})"></div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Glitter / Technology</h4>
              <h3 class="big">Glitter</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item discharge-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})"></div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Silk screen printing / Technology</h4>
              <h3 class="big">Discharge</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item glow-dark-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})">
          </div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Silk screen printing / Technology</h4>
              <h3 class="big">Glow Dark</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item reflective-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})">
          </div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Silk screen printing / Technology</h4>
              <h3 class="big">Reflective</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item metallic-silver-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})"></div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Silk screen printing / Technology</h4>
              <h3 class="big">Silver</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item sublimation-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})">
          </div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Digital / Technology</h4>
              <h3 class="big">Sublimation</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item digital-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})">
          </div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Digital / Technology</h4>
              <h3 class="big">Digital Print</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item embossing-debossing-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})">
          </div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Embossing / Technology</h4>
              <h3 class="big">Embossing</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item metallic-gold-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})">
          </div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Metallic / Technology</h4>
              <h3 class="big">Metallic Gold</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item rubber-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})"></div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Silk screen printing / Technology</h4>
              <h3 class="big">Rubber</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item pearl-print">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})"></div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Silk screen printing / Technology</h4>
              <h3 class="big">Pearl</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>
        <div class="one-item digital-hydrid-printing-system">
          <div class="image-bg" style="background-image:url({% static 'nanuapp/img/portfolio/item1.jpg' %})"></div>
          <div class="content">
            <span class="icon">
              <i class="material-icons">add</i>
            </span>
            <div class="text">
              <h4>Digital / Technology</h4>
              <h3 class="big">Digital Hydrid</h3>
            </div>
            <a href="gallery-project.html" class="link"></a>
          </div>
        </div>

      </div>
    </section>
    <!--  END Projects Section  -->

  </div>

</div>
<!--  END Page Content -->
{% endblock content %}